<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <add name="Python FastCGI" 
      path="*" 
      verb="*" 
      modules="FastCgiModule" 
      scriptProcessor="C:\Python312\python.exe|C:\Python312\Lib\site-packages\wfastcgi.py" 
      resourceType="Unspecified" 
      requireAccess="Script" />
      <remove name="WebDAV" />
    </handlers>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="PUT" allowed="true" />
          <add verb="PATCH" allowed="true" />
          <add verb="DELETE" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\EffortlessBackend" />
    <add key="WSGI_HANDLER" value="WepAPI.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="WepAPI.settings" />
  </appSettings>
</configuration>